*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #f1f5f8;
  color: #222;
}

.booklist {
  width: 150vh;
  max-width: 1366px;
  margin: 5px auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist{
    grid-template-columns: repeat(3,1fr);
  }
}

.book{
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book h1{
  margin-top: 0.5rem;
}

.book p{
  margin-top: 0.5rem;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
